* {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    background: gray;
    color: #fff;
}

header {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > img {
    border-radius: 100%;
    border: 2px solid #fff;
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
}

header > h1 {
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 1em;
    background-color: #000a;
    color: #fff;
    padding: 0.3em 0.6em;
    border: 1px solid #fffa;
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
}

ul {
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto;
    padding: 2em;
}

ul > li {
    background-color: #fffa;
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    border-radius: 5em;
    padding: 1em;
    margin: 1em auto; 
    box-shadow: 0 0 0.5em #000a;
    text-align: center;
    max-width: 40em;
}

ul > li > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

a {
    color: black;
    text-decoration: none;
}